@import "./../../../assets/variables.scss";

.visible {
    background: $color-black;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    ::ng-deep .mat-drawer-inner-container {
        @extend %wrapper;

        .header {
            display: flex;
            flex-direction: row;

            h3 {
                color: $color-white;
            }
        }
    
        .list-wrapper {
            display: flex;
            flex-direction: column;

            span {
                color: $color-white;
            }
        }
    }
}

.hidden {
    display: none;
}