<div class="form-wrapper">
  <form class="form-group" [formGroup]="form">
    <h2>Добавить отчет</h2>
    <label>Выберите не менее двух регионов</label>
    <app-list-view [visible]="visibleList" (onClick)="toggleVisibilityList($event)"></app-list-view>
    <button class="form-button" (click)="visibleList = true">Выбрать</button>

    <label>Выберите один регион из списка</label>
    <app-list-view [visible]="visibleList" (onClick)="toggleVisibilityList($event)"></app-list-view>
    <button class="form-button" (click)="visibleList = true">Выбрать</button>
  </form>
  <div class="footer">
    <span>Нужно заполнить поля, отмеченные *</span>
    <button class="submit">Добавить отчет</button>
  </div>
</div>
