@import "./../../../assets/variables.scss";

.form-wrapper {
    max-width: 600px;
    height: 100vh;
    padding: 10px 15px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h2 {
            color: $color-white;
            font-size: 15px;
            font-weight: 600;

        }

        .form-button {
            background: #4b4b4b;
            color: $color-grey;
            margin: 15px 0;
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;

    span {
        color: $color-white;
        font-size: 17px;
    }

    .submit {
        background: #da7e3c;
        color: $color-white;
    }
}

label {
    color: $color-white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

button {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    height: 46px;
    width: 100%;
    font-size: 15px;
}