$color-black: #121212;
$color-white: #FFFFFF;
$color-grey: #808080;
$color-orange: #da7e3c;

$shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);

%wrapper {
    max-width: 600px;
    height: 100vh;
    padding: 10px 15px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}