<mat-drawer
  [(opened)]="visible"
  [class]="{ visible: visible, hidden: !visible }"
>
  <div class="header">
    <button mat-icon-button class="close-button" (click)="toggleDrawer(false)">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h3>Выбрать из списка</h3>
    <button class="chose-button">Готово</button>
  </div>
  <div class="list-wrapper">
    <mat-radio-group>
      @for(region of (regions$ | async); track region.id) {
      <mat-radio-button [value]="region.id">{{region.name}}</mat-radio-button>
      }
    </mat-radio-group>
  </div>
</mat-drawer>
