@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "./assets/variables.scss";

html,
body {
    height: 100%;
     
    * {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $color-black;
}